<div class="main-body">
  <div id="welcome" class="jumbotron">
    <div id="welcome-container" class="container">
      <h1>Hello. My name is <span style="color:black">Andrew Kim</span> and I just try to build websites.</h1>
      <br><br>
      <!--<p><a class="btn-awesome" href="#" role="button">View my Work</a></p>-->
      <p><%= link_to "View my Work", portfolio_path, class: "btn-awesome", role: "button" %></p>
    </div>
  </div>
</div><!-- /.container -->