// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-body {
  padding-top: 75px;
  padding-bottom: 50px;
}

#welcome {
	background: url('http://i.imgur.com/F1IWB.jpg');
	background-attachment: fixed;
	height: 600px
}

#welcome-container {
	padding-top: 100px;
	text-align: right;
	color: white;
}

.btn-awesome {
  color: #fff;
  background: #000;
  padding: 15px 40px;
  text-decoration: none; 
  transition: background .5s; 
}

.btn-awesome:hover {
  background: #117bff;
  color: #fff;
  cursor: pointer; 
  text-decoration: none; 
  transition: background .5s;  
}

.btn-awesome:visited{
  color: #fff;
  text-decoration: none; 
}

.footer {
	padding-bottom: 75px;
	text-align: right;
}

.footer ul {
	margin: 0px;
	padding-bottom: 20px;
	list-style-type: none;
}

.footer ul li { 
	display: inline;
	padding-right: 20px; 
}


