<footer class="footer">
	<div class="container">
		<ul class="social-media">
			<li>
				<a href="https://github.com/therladbsgh"><span style="color:black"><i class="fa fa-github fa-2x"></i></span></a>
			</li>
			<li>
				<a href="https://bitbucket.org/therladbsgh"><span style="color:black"><i class="fa fa-bitbucket fa-2x"></i></span></a>
			</li>
			<li>
				<a href="#"><span style="color:black"><i class="fa fa-twitter fa-2x"></i></span></a>
			</li>
		</ul>
		<p>© 2015 Andrew Kim</p>
	</div>
</footer>